.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form__input-field {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 120%;

  padding: 1.45rem 1.2rem;
  background-color: var(--bg-disabled);
  border: 0.1rem solid var(--bg-disabled);
  border-radius: 1rem;
}

.form__input-field::placeholder {
  color: var(--text-disabled);
}

.form__input-field:focus {
  background-color: var(--bg-light);
  border: 0.1rem solid var(--accent-color);
}

.form__input-field:not(:placeholder-shown) {
  background-color: var(--bg-light);
}

.form__input-field--has-error {
  border: 0.1rem solid var(--error-color);
}

.form__input-field--has-error:focus {
  border: 0.1rem solid var(--error-color);
}

.form__input-error {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  color: var(--error-color);
}
