.skillsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.2rem 2.4rem 1.6rem;
  background-color: #fff;

  &__header {
    text-align: center;
    width: 100%;
  }

  &__progressBar {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: #e8e6ef;
    margin-bottom: 1.2rem;

    &Fill {
      height: 100%;
      border-radius: 1rem;
      background-color: #31728d;
      width: 5rem;
    }
  }

  &__topBar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6.3rem;
  }

  &__arrowBorder {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 1px solid #d2cfdf;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    height: 3rem;
  }

  &__stepIndicator {
    font-weight: 700;
    font-size: 1.6rem;
  }

  &__currentStep {
    color: #31728d;
  }

  &__info {
    margin-top: 2.9rem;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }

  &__description {
    font-size: 1.2rem;
    color: #6b7280;
  }

  &__list {
    margin-top: 7.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__item {
    display: flex;
    height: 4.8rem;
    padding-inline: 1.6rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid #d2cfdf;
    background-color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.6rem;

    &--selected {
      border-color: #31728d;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__emoji {
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }

  &__checkbox {
    width: 1.9rem;
    height: 1.9rem;

    &:checked::after {
      content: '✔';
      color: white;
      font-size: 1rem;
      display: block;
      text-align: center;
      line-height: 1.9rem;
      background-color: #31728d;
      border-color: #31728d;
    }
  }

  &__continueButton {
    margin-top: 1.6rem;
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    font-weight: 800;
    font-size: 1.8rem;
    color: #b7b4c1;
    background-color: #e8e6ef;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: #31728d;
      color: #fff;
    }

    &:disabled {
      background-color: #d1d5db;
      cursor: not-allowed;
    }
  }
}
